* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    size: auto;
    max-height: 100%;
    max-width: 100%;
    /* max-width: 1200px; */
}

body {
    background-image: url();

}

.wrapper {
    padding: 20px 50px 20px 50px;

}

.container {
    max-width: 1440px;
    margin: auto;
}

header .wrapper {
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.top-nav ul {
    list-style-type: none;

    margin: 0%;
    padding: 0%;
    display: flex;
    text-align: right;
    /*justify-content: space-around; */
    column-gap: 40px;
    margin-bottom: 15px;


}

.top-nav a {
    font-size: 4vh;
    color: white;

    text-transform: uppercase;
    transition: 0.09s;
}

.top-nav a:hover {
    display: inline-block;
    border-radius: 50px;
    color: #edab28;
    font-weight: bold;

}

.top-nav .active {
    color: #edc928;
    text-decoration: underline;
}





/*  minmax code from: https://developer.mozilla.org/en-US/docs/Web/CSS/minmax */

.grid-parent1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


.grid-parent1 li {
    margin-left: 20px;
}

.grid-parent11 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-left: 40px;
    margin-right: auto;

}


.grid-parent2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 3px;
    text-align: center;
}

.grid-parent2 img {


    margin: 7vh
}




.grid-parent3 {

    /*  minmax code from: https://developer.mozilla.org/en-US/docs/Web/CSS/minmax */
    display: grid;
    grid-template-columns: 1fr;



}


.grid-item {
    margin: 0px 10px 10px 10px;

}

body {
    font-family: 'Cagliostro', sans-serif;
    color: #021104;
    margin: 10;
    background-color: #77aa54;

}

/*  gradieny code from: https://www.w3schools.com/css/css3_gradients.asp */
header {
    /* text-align: center; */
    background-color: #327232;
    /*background-image: linear-gradient(#26c55b, #e6ffca);*/

}


main {
    text-align: center;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
    flex-grow: 1;

}

.logo {
    padding-bottom: 10px;
}


a {
    text-decoration: none;
    color: #ffe15e;
}



a h1 {
    color: #021104;

}

a h3 {
    color: #021104;

}

a .logo {

    transition: 0.5s;

}

a .logo:hover {
    padding: 0px 10px 10px 0px;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

main a:visited {}

h1 {
    font-family: 'Cagliostro', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {

    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 55px;
    font-weight: 700;

}

.backdrop {
    padding: 7vh;
    background-image: url("../images/map2.png");


}

.backdrop h2 {

    filter: drop-shadow(2px 2px 3px #ffffff);
}


h3 {
    font-size: 25px;

}

p {
    margin: 0 auto;
    max-width: 70%;

    justify-content: center;
    font-size: 19px;

}

li {
    margin: 0 auto;
    max-width: 70%;
    justify-content: center;
    font-size: 19px;


}



a.button {
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(124, 225, 35);
    color: rgb(19, 4, 40);

    font-weight: 600;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    transition: .07s;
}

/*drop shadow code from: https: //developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */

a.button:hover {
    filter: drop-shadow(4px 4px 1px #1d14855d);
    background-color: #126b45;

}

.gif {
    transition: transform .2s;
    padding: 10px;
}

.gif:hover {


    transform: scale(1.25);
}

.gif .eq {
    margin-left: ;
    padding: 10px;
}

/*

img.square {
    filter: drop-shadow(0px 0px 0px #170f6d4c) grayscale(100%);
    transition: 0.15s;
}

img.square:hover {
    filter: drop-shadow(6px 6px 1px #170f6d4c);

}

*/

footer {
    text-align: center;
    background-color: #327232;
    height: 100%;

    flex-wrap: wrap;
    justify-content: flex-end;
}


.flex-parent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

@media screen and (max-width: 500px) {


    .grid-parent1 {
        grid-template-columns: 1fr;
    }

    .grid-parent11 {
        grid-template-columns: 1fr;
    }

    .grid-parent2 {
        display: grid;
        grid-template-columns: 1fr;

    }


    .grid-parent2 img {


        margin: 0vh
    }

    .grid-parent1 li {
        margin-left: 60px;
    }

    .top-nav ul {
        list-style-type: none;
        font-size: 25px;
        margin: ;
        padding: 10px;
        display: inline;
        text-align: center;

        /*justify-content: space-around; */
        margin-bottom: 15px;
    }

    .top-nav li {
        display: inline-block;
        margin: 0 auto;
        padding-top: 7%;
        font-size: 3.5vh;

    }

    .flex-head {
        display: flex;
        justify-content: center;
    }

    .logo {
        align-items: center;

    }

    a .logo:hover {
        padding: 10px 0px 10px 0px;
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }


}